p {
  color: green;
}
ul {
  color: teal;
}
div {
  color: brown;
}
footer {
  color: blue;
}
table {
  color: pink;
}
h1 {
  color: violet;
}
nav {
  background-color: black;
}
h2 {
  color: yellow;
}
h3 {
  color: cyan;
}
dd {
  color: fuchsia;
}
