.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
  background-color: #fefaeb;
}
body {
  font-family: Arial;
  background-color: #fcebb6;
  color: 221881;
}
p {
  color: black;
}
ul {
  color: black;
}
div {
  color: black;
}
footer {
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  background-color: #d2b48c;
}
table {
  color: black;
}
h1 {
  color: #8c3826;
  background-color: #d2b48c;
}
nav {
  font-weight: 1000;
  text-align: center;
}
h2 {
  color: #8c3826;
  background-color: #d2b48c;
}
h3 {
  color: #8c3826;
  background-color: #d2b48c;
}
dd {
  color: black;
}
a:link {
  color: darkgoldenrod;
  text-decoration-line: none;
}
a:visited {
  color: #8c3826;
}
a:hover {
  color: black;
}
a:active {
  color: white;
}
