{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>{{ user.username }}'s Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.bio.label }}<br>
            {{ form.bio(rows=5) }}
        </div>
        <div>
            {{ form.profile_pic.label }}<br>
            {{ form.profile_pic() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}