* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1603058817990-2b9a9abbce86?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: fill;
}
h1 {
    background-color: brown;
    text-align: center;
    color:white;
}
p {
    color: white;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, 200px);
    gap: 1em;
  }
button{
    align-content: center;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
div {
    text-align: center;
}
nav{
    color: grey;
    font-size: 50px;
    position: sticky;
    text-align: center;
    top: 0px;
}
#bookshelf {
    display: block;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    color: #222;
    box-shadow: 1px 1px 4px #a29fb1;
}
svg {
    text-align: center;
}