* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  header{
    position: sticky;
    top: 0;
  }
section {
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(4, 300px);
    gap: 1em;
  }
  .grid-item {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px #6b6b6b;
    font-weight: 700;
    font-size: 2rem;
  }
  .grid-item:nth-child(even){
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: white;
    text-shadow: 1px 1px 1px #6b6b6b;
    font-weight: 700;
    font-size: 2rem;
  }
  .item-1 {
    background-image: url(https://images.unsplash.com/photo-1695670277545-919ece6eddb0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1474&q=80);
    background-size: cover;
  }
  .item-1:hover{
    scale: 1.25;
  }
  
  .item-2 {
    background-image: url(https://images.unsplash.com/photo-1692387673695-5658f382257c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
  }
  .item-2:hover{
    scale: 1.25;
    rotate: 90deg;
  }
  .item-3 {
    background-image: url(https://images.unsplash.com/photo-1695651941791-1c7d6ec80755?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
  }
  .item-3:hover{
    scale: 1.25;
    rotate: 180deg;
  }
  .item-4 {
    background-image: url(https://images.unsplash.com/photo-1694536379581-3003331c1e2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
  }
  .item-4:hover{
    scale: 1.25;
    rotate: 45deg;
  }
  .item-5 {
    background-image: url(https://images.unsplash.com/photo-1695278255455-9afc87008775?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
  }
  .item-5:hover{
    scale: 1.25;
    rotate: 150deg;
  }
  .item-6 {
    background-image: url(https://images.unsplash.com/photo-1695829078492-6c88a9d1aa36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
  }
  .item-6:hover{
    scale: 1.25;
    rotate: 360deg;
  }
  .item-6:hover::before{
    background: linear-gradient(rgb(231, 4, 4), rgba(100, 13, 199, 0.5));
  }