* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p {
  padding: 1em;
}
header {
  position: sticky;
  top: 0;
  border-style: solid;
  border-color: blue;
  border-top: 0em;
  border-right: 0em;
  border-left: 0em;
  background-color: red;
  text-align: center;
}
main {
  margin: auto;
  text-align: center;
  width: 80%;
  background-color: brown;
}
footer {
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: gray;
}
